[Unit]
Description=Swift account server
After=network.target
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
Type=notify
User=swift
Group=swift
Restart=always
ExecStart=swift-account-server /etc/swift/account-server.conf.d
ExecStop=bash -c "kill -HUP $MAINPID && tail -f /dev/null --pid $MAINPID"
ExecReload=swift-reload $MAINPID

[Install]
WantedBy=multi-user.target
